@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

:root {
  --red: hsl(1, 90%, 64%);
  --blue: hsl(219, 85%, 26%);
  --white: hsl(0, 0%, 100%);
  --very-light-grayish-blue: hsl(210, 60%, 98%);
  --light-grayish-blue1: hsl(211, 68%, 94%);
  --light-grayish-blue2: hsl(205, 33%, 90%);
  --grayish-blue: hsl(219, 14%, 63%);
  --dark-grayish-blue: hsl(219, 12%, 42%);
  --very-dark-blue: hsl(224, 21%, 14%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--very-light-grayish-blue);
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: clamp(0.85rem, 0.831rem + 0.1878vw, 1rem);
}

img {
  width: 3rem;
}

.card {
  background-color: var(--white);
  max-width: 48rem;
  padding: 2rem 3rem 0;
  margin: 2rem;
}

.card .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.card .top .title {
  display: flex;
  color: var(--very-dark-blue);
}

.card .top .title span {
  font-size: 1.1rem;
  background-color: var(--blue);
  color: var(--white);
  margin-left: .5rem;
  padding: .2rem .8rem;
  border-radius: 7px;
}

.card .top .mark {
  color: var(--dark-grayish-blue);
  cursor: pointer;
}

.card .top .mark:hover {
  color: var(--blue);
}

.notification {
  display: flex;
  gap: 1.5rem;
  padding: .9rem;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.unread {
  background-color: var(--very-light-grayish-blue);
}

.notification .avatar {
  width: 3rem;
}

.notification-text>* {
  margin-bottom: 4px;
}

.notification-text .title {
  color: var(--dark-grayish-blue);
}

.notification-text .title .author {
  color: var(--very-dark-blue);
  font-weight: 800;
}

.notification-text .title .post,
.notification-text .title .group {
  font-weight: 800;
}

.title .author:hover,
.title .post:hover,
.title .group:hover {
  color: var(--blue);
  cursor: pointer;
}

.notification-text .title .dot {
  background-color: var(--red);
  display: inline-block;
  margin: 0 0 .1rem .3rem;
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
}

.notification-text .time {
  color: var(--grayish-blue);
}

.notification-text .message {
  border: 1px solid var(--light-grayish-blue2);
  border-radius: 5px;
  margin-top: 1rem;
  padding: 1rem;
  color: var(--dark-grayish-blue);
}

.notification-text .message:hover {
  cursor: pointer;
  background-color: var(--light-grayish-blue1);
}

.notification-picture {
  margin-left: auto;
}

@media screen and (max-width:460px) {

  img,
  .notification .avatar {
    width: 2rem;
  }

  .card {
    padding: 2rem 0.5rem 0;
    margin: 1rem;
  }

  .notification-text .message {
    width: 100%;
    font-size: 0.85rem;
  }

}